PORT
NODE_ENV

DB_URL
CLIENT_URL

JWT_SECRET
AUTH_COOKIE_NAME
SESSION_DAYS
COOKIE_SECURE
COOKIE_SAME_SITE

CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET

RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET

EARLY_BIRD_LIMIT
EARLY_BIRD_DISCOUNT_PERCENT
EARLY_BIRD_RESERVATION_TTL_MINUTES


RAZORPAY_MONTHLY_BASIC_PLANID
RAZORPAY_YEARLY_BASIC_PLANID
RAZORPAY_MONTHLY_PRO_PLANID
RAZORPAY_YEARLY_PRO_PLANID
RAZORPAY_MONTHLY_ELITE_PLANID
RAZORPAY_YEARLY_ELITE_PLANID
RAZORPAY_WEBHOOK_SECRET
